main {
    width: 90%;
    margin: auto;
  }
  
  body {
    width: 90%;
    margin: auto;
  }
  
  .listContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    margin: 20px 0;
  }
  
  .item {
  
    border: 5px solid rebeccapurple;
    border-radius: 40px;
    padding: 20px;
    min-width: 160px;
   
    
  }

  .image {
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
  }

  .green {
    background-color: blue;
  }